* {
    box-sizing: border-box;
}
body {
    font-family: 'Outfit', sans-serif;
}
h1, h2, h3, h4, h5, h6, p, ul {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
#headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;
    font-weight: 600;
    background-color: #fff;
    width: 100%;
    padding: 20px 10px;
    position: fixed;
    top: 0;
    z-index:  1;
}
#headers div img {
    max-width: 75px;
}
#headers ul {
    display: flex;
}
#headers ul li {
    margin: 0 15px;
    list-style-type: none;
}
#headers ul li a, .shop h2, .shop h4 {
    color: #333;
}
#headers .fa-shopping-cart {
    font-size: 1.2em;
}
#headers a:hover {
    color: #bbb;
}
.hero img {
    max-width: 100%;
}
.hero {
    position: relative;
    text-align: center;
    color: #fff;
}
.hero h1, .hero a, .dis-none {
    position: absolute;
}
.hero h1 {
    top: 20%;
    left: 20%;
    font-size: 3em;
}
.hero a {
    top: 40%;
    left: 50%;
    padding: 20px 28px;
    border-radius: 5px;
    background-color: #ff6a00;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
}
.dis-none {
    display: none;
}
.hero a:hover .dis-none {
    display: inline;
    top: 19px;
    left: 120px;
}
.shop {
    width: 100%;
    padding: 0 20px;
    margin-top: 45px;
}
.shop h2, .shop h4 {
    text-align: center;
    padding: 20px 0;
}
.shop h2 {
    font-size: 2.4em;
    font-weight: 700;
}
.shop h4 {
    font-size: 1.2em;
    padding-bottom: 0;
}
.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 100%;
}
.items {
    width: 350px;
    height: 600px;
    padding: 10px;
}
.items img {
    max-width: 100%;
    height: 400px;
    object-fit: cover;
}